
body {
    margin: 0px;
  }
  p {
    color: white;
    margin: 0px;
   font-size: 20px;
    padding-left: 2%;
  }
  h1 {
   font-size: min(10vh, 10vw);
   /*  font-size: 10vh;*/
    margin: 0px;
    padding-left: 2%;
    color: white;
  }
  .nav_bar {
    width: 100vw;
  /* height: 10vh;*/
    height: max(10vh, 100px);
    background-color: rgb(78, 73, 73);
    display : flex;
    align-items : center;
  }
  .title_bar {
   /* width: 80vw;*/
    width: calc(18vw - 50px);
    padding: 10px 0px;
    margin-top: 30vh;
    background-color: black;
    display : flex;
    align-items : center;
  }