
<nav>
  <h3 class="center-text">ABOUT US</h3>
</nav>

<div class="container">
  
  <div class="centered-box">


  <div class="overview">
    <h3>Overview</h3>
    <p class="description">Know more about us, our team, our wards and credit ratings.</p>
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcXtJE-JNdrJhX2a_RUwfffWbQEysCagfvWQ&usqp=CAU" alt="Card Image" class="card-image">
      <div class="card-content">
    </div>

    <div class="investor-relations">
      <h3>Investor Relations</h3>
      <p class="description">Know about our financial ratings, American Depository Reciepts and Annual Reports.</p>
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcXtJE-JNdrJhX2a_RUwfffWbQEysCagfvWQ&usqp=CAU" alt="Card Image" class="card-image">
        <div class="card-content">
      </div>

      <div class="stakeholders-information">
        <h3>Stakeholder's Information</h3>
        <p class="description">Know about our policies, General Body Meetings and
          Shareholding & Ownership.
        </p>
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcXtJE-JNdrJhX2a_RUwfffWbQEysCagfvWQ&usqp=CAU" alt="Card Image" class="card-image">
          <div class="card-content">
        </div>  

      
        <div class="news-room">
          <h3>News Room</h3>
          <p class="description">Get our Media Kit, read our press releases and connect with our media contacts.
          </p>
          <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcXtJE-JNdrJhX2a_RUwfffWbQEysCagfvWQ&usqp=CAU" alt="Card Image" class="card-image">
            <div class="card-content">
          </div>   

    
  
    

