
<div  style="width: 79%; height: 600px; float: right; scroll-padding-left: 10%; " >
    <h1>Employee Form</h1>

  <div style="width: 50%;" >
  <div class="row">
      <div class="col">
        <div class="form-outline">
          Name <input type="text" id="form8Example1" class="form-control" placeholder="EX-Abhishek" [(ngModel)]="es.emp.e_name"/>
          <label class="form-label" for="form8Example1"></label>
        </div>
         <div class="form-outline">
          Adress <input type="text" id="form8Example1" class="form-control" [(ngModel)]="es.emp.e_adress" />
          <label class="form-label" for="form8Example1"></label>
        </div>
      </div>
      <div class="form-outline">
          E-mail<input type="text" id="form8Example1" class="form-control" [(ngModel)]="es.emp.e_email" />
          <label class="form-label" for="form8Example1"></label>
        </div><hr><br>
  
     
         Select the Designation<div class="form-check form-check-inline"><hr>
          <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio12" value=1 [(ngModel)]="es.emp.e_role">
          <label class="form-check-label" for="inlineRadio12">Relational ExecutivE</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio22" value=2 [(ngModel)]="es.emp.e_role" >
          <label class="form-check-label" for="inlineRadio22">Operational Executive</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio32" value=3 [(ngModel)]="es.emp.e_role" >
          <label class="form-check-label" for="inlineRadio32">Credit Manager</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio32" value=4 [(ngModel)]="es.emp.e_role" >
          <label class="form-check-label" for="inlineRadio32">Account Head</label>
        </div><hr>
  
  
  
 
  <button mat-stroked-button type="submit" (click)="save_enquiry(es.emp)">Submit</button>
  </div>
  
  <hr>
  <br>
  <br><br><br><br><br><br>
  <br>
  <br></div></div>




